@font-face {
	font-family: 'TT Lakes Medium';
	src: url(sources/TTLakes/TTLakes-Medium.ttf);
}
@font-face {
	font-family: 'TT Lakes Bold';
	src: url(sources/TTLakes/TTLakes-Bold.ttf);
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.header__group--2,
.title__group {
	display: none;
}

.header {
	width: 100%;
	margin: 0;
	padding: 18px 16px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.header__group--1,
.header__group--3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	position: relative;
}

.header__group--3::before {
	content: '';
	position: absolute;
	right: 116px;
	height: 32px;
	width: 2px;
	background-color: #eaeaea;
	border-radius: 1px;
}
.header__button {
	border: none;
	background: none;
	padding: 0;
	width: 40px;
	height: 40px;
}

.main {
	padding: 24px 16px;
	border-top: 1px solid #d9fff5;
	background-color: #f8f8f8;
}

.title {
	display: flex;
	justify-content: space-between;
	margin: 0 0 24px 0;
}

.title__text {
	margin: 0;
	display: inline;
	color: #1b1c21;
	font-family: 'TT Lakes Bold';
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px; /* 142.857% */
	letter-spacing: -0.6px;
}

.title::before {
	content: '';
	position: absolute;
	left: -4px;
	height: 40px;
	width: 8px;
	background-color: #41f6d7;
	border-radius: 4px;
}
.navigation {
	margin: 0 0 24px 0;
}
.navigation__list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow-x: scroll;
}

.navigation__list > li {
	list-style-type: none;
}

.navigation__service {
	padding: 6.4px 0 6.4px 0;
	display: inline;
}

.navigation__text {
	white-space: nowrap;
	padding: 8px 9.3px 8px 16.54px;
	text-decoration: none;
	color: #7e7e82;
	font-family: 'TT Lakes Medium';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 150% */
	letter-spacing: -0.2px;
}

.navigation__service--1 {
	display: none;
}

.navigation__service--2 {
	display: inline;
	min-width: 242.8px;
	border: 2px solid #b8ffec;
	border-radius: 6px;
	background: #fff;
}

.info {
	display: flex;
	flex-wrap: wrap;
}
.info__section {
	width: 100%;
	box-sizing: border-box;
}

.info__paragraph {
	margin: 0 0 16px 0;
}
.info__text {
	margin: 0;
	color: #1b1c21;
	font-family: 'TT Lakes Medium';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px; /* 128.571% */
	letter-spacing: 0.2px;
}

.info__text--2 {
	display: none;
}

.info__button {
	padding: 0 0 0 24px;
	color: #1b1c21;
	font-family: 'TT Lakes Medium';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 150% */
	letter-spacing: -0.2px;
	position: relative;
	background: none;
	border: none;
}

.info__button::before {
	content: url(sources/expand.svg);
	position: absolute;
	left: -5px;
}

.info__image {
	margin: 16px 0 0 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
	.header {
		padding: 18px 24px;
	}

	.header__group--1 {
		gap: 43px;
	}

	.header__group--1::before {
		content: '';
		position: absolute;
		left: 60px;
		height: 32px;
		width: 2px;
		background-color: hsl(0, 0%, 92%);
		border-radius: 1px;
	}
	.header__group--2 {
		display: flex;
		gap: 16px;
		margin: 0 42px 0 auto;
	}

	.main {
		padding: 24px 24px;
	}

	.info {
		flex-wrap: nowrap;
		padding-bottom: 48px;
		justify-content: space-between;
	}

	.info__section {
		width: 50%;
		margin-right: 48px;
	}

	.info__paragraph {
		height: 160px;
		overflow: hidden;
	}

	.info__text--2 {
		display: block;
		margin-top: 30px;
	}

	.info__image {
		margin: 0;
		width: 50%;
		height: 50%;
		object-fit: cover;
	}
}

@media (min-width: 1120px) {
	.main {
		padding: 24px;
	}
	.header {
		display: none;
	}

	.title__group {
		display: flex;
		gap: 32px;
	}
	.title__button {
		display: flex;
		gap: 8px;
		align-items: center;
		border: none;
		background: none;
		padding: 0;
		color: #1b1c21;
		font-family: 'TT Lakes Medium';
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px; /* 150% */
		letter-spacing: -0.2px;
	}

	.navigation__list {
		overflow-x: initial;
		flex-wrap: wrap;
	}

	.navigation__service--1 {
		display: inline;
		border: 2px solid #b8ffec;
		border-radius: 6px;
		background: #fff;
	}

	.navigation__service--2 {
		display: inline;
		border: none;
		background: none;
	}

	.info {
		flex-wrap: nowrap;

		justify-content: space-between;
	}

	.info__section {
		width: 50%;
		margin-right: 36px;
	}

	.info__text--2 {
		display: block;
		margin-top: 30px;
	}
	.info__image {
		margin: 0;
		width: 50%;
		height: 50%;
		object-fit: cover;
	}
}
